@import 'constants';
@import 'mixins';

.comment-box {
    @include media-max-width($mobile-max-width) {
        padding: 5px 10px;
    }

    margin-bottom: 10vh;
    margin-top: 5vh;
}

.comment-title {
    font-size: 1.8rem;
    font-weight: 400;
    max-width: 850px;
    text-align: left;
}

.comment-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
}

.comment-subtitle,
.comment-text {
    @include media-max-width($mobile-max-width) {
        column-count: 1;
    }

    column-count: 2;
    column-gap: 50px;
    text-align: left;
}

.comment-text {
    font-weight: 200;
    line-height: 2;
}
