$tablet-max-width: 767px;
$mobile-max-width: 461px;

$white: #fff;
$medium-gray: #454545;
$shadow-gray: #bdbdbd;

$link-color: #00bcd4;
$link-hover-color: #4de0f3;

$bg-top-gradient-color: #7b5cb5;
$bg-bottom-gradient-color: #421694;
